* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 40px;
}

input {
    font-size: 1rem;
    color: blue;
    width: 75%;
}

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 500%px;
    height: 300px;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tamanio {
    max-width: 100%;
    max-height: 70%;
}